[Unit]
Description=Celery Flower Dashboard
After=network.target

[Service]
User=www-data
WorkingDirectory={{ project_dir }}
Environment="PATH={{ venv }}/bin"
ExecStart={{ venv }}/bin/celery --broker={{ redis_url }}{% if redis_backend_url %} --result-backend={{ redis_backend_url }}{% endif %} flower --address=127.0.0.1 --port=5555
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
